<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Mage
 * @package    Mage_Bundle
 * @copyright  Copyright (c) 2004-2007 Irubin Consulting Inc. DBA Varien (http://www.varien.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Mage_Bundle>
            <version>0.1.0</version>
        </Mage_Bundle>
    </modules>
    <global>
        <models>
            <bundle>
                <class>Mage_Bundle_Model</class>
                <resourceModel>bundle_mysql4</resourceModel>
            </bundle>
            <bundle_mysql4>
                <class>Mage_Bundle_Model_Mysql4</class>
                <entities>
                    <option>
                        <table>catalog_product_bundle_option</table>
                    </option>
                    <option_value>
                        <table>catalog_product_bundle_option_value</table>
                    </option_value>
                    <selection>
                        <table>catalog_product_bundle_selection</table>
                    </selection>
                </entities>
            </bundle_mysql4>
        </models>
        <resources>
            <bundle_setup>
                <setup>
                    <module>Mage_Bundle</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bundle_setup>
            <bundle_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bundle_write>
            <bundle_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bundle_read>
        </resources>
        <blocks>
            <bundle><class>Mage_Bundle_Block</class></bundle>
        </blocks>
        <catalog>
            <product>
                <type>
                    <bundle translate="label" module="bundle">
                        <label>Bundle Product</label>
                        <model>bundle/product_type</model>
                        <allowed_selection_types>
                            <simple />
                            <virtual />
                            <downloadable />
                        </allowed_selection_types>
                        <price_model>bundle/product_price</price_model>
                    </bundle>
                </type>
            </product>
        </catalog>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <price_view />
                        <price_type />
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <catalog>
            <layer>
                <view>
                    <product_attributes>
                        <price_view />
                        <price_type />
                    </product_attributes>
                </view>
            </layer>
        </catalog>
    </global>
    <frontend>
        <routers>
            <bundle>
                <use>standard</use>
                <args>
                    <module>Mage_Bundle</module>
                    <frontName>bundle</frontName>
                </args>
            </bundle>
        </routers>
        <translate>
            <modules>
                <Mage_Bundle>
                    <files>
                        <default>Mage_Bundle.csv</default>
                    </files>
                </Mage_Bundle>
            </modules>
        </translate>
        <layout>
            <updates>
                <bundle>
                    <file>bundle.xml</file>
                </bundle>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Bundle>
                    <files>
                        <default>Mage_Bundle.csv</default>
                    </files>
                </Mage_Bundle>
            </modules>
        </translate>
        <layout>
            <updates>
                <bundle>
                    <file>bundle.xml</file>
                </bundle>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <bundle_observer>
                        <type>singleton</type>
                        <class>bundle/observer</class>
                        <method>prepareProductSave</method>
                    </bundle_observer>
                </observers>
            </catalog_product_prepare_save>
        </events>
    </adminhtml>
</config>
